body{
    background-color: #000000;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media  screen and (min-device-width:270px) and (max-device-width: 475px) {
    .device{
        margin-top: 25vh;
        height:1200px;
        width:950px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .input{
        margin-top: -15px;
        margin-bottom:40px;
        width:700px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .cal-button{
        background-color: rgb(42, 42, 95);
        align-items: center;
        width:850px;
        margin: 100px auto;
        text-align: center;
        border-radius: 40px;

    }
    hr{
        width:700px;
        margin-left: auto;
        margin-right: auto;
    }
    #display{
        margin-left: auto;
        margin-right:auto;
        height: 120px;
        font-size: 120px;
        width:700px;
        text-align: right;
        background-color: transparent;
        color:white;
        border:2px solid black;
        text-align: center;
    }
    
    button{
        height:170px;
        width:170px;
        font-size: 100px;
        margin: 10px;
        background-color:rgb(41, 41, 88);
        border-radius: 50px;
        border: 2px outset rgb(41, 41, 88);
        color:rgb(255, 255, 255);
    }
}

@media  screen and (min-device-width:480px) and (max-device-width: 1000px) {
    
}

@media  screen and (min-device-width:1020) {
    
}

